@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin-inline: auto;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Glancyr';
  src: url(../assets/fonts/Glancyr-Regular.otf);
  font-weight: normal;
}

@layer base {
  :root {
    --background: 220, 23.08%, 2.55%;
    --foreground: 210 20% 98%;
    --card: 220, 23.08%, 2.55%;
    --card-foreground: 210 20% 98%;
    --popover: 220, 23.08%, 2.55%;
    --popover-foreground: 210 20% 98%;
    --primary: 258.22, 100%, 62.55%;
    --primary-foreground: 210 20% 98%;
    --secondary: 258.13, 87.27%, 21.57%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 3.02, 100%, 64.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 258.22, 100%, 62.55%;
    --radius: 0.5rem;
  }  
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.line1::after{
  content: '';
  position: absolute;
  display: block;
  height: 2716px;
  width: 1px;
  background-color: #fff;
  top: 0;
  z-index: 0;
}

.line2::after{
  content: '';
  position: absolute;
  display: block;
  height: 2716px;
  width: 1px;
  background-color: #fff;
  right: 0;
  z-index: 0;
}

.line3::after{
  content: '';
  position: absolute;
  display: block;
  height: 798px;
  width: 1px;
  background-color: #fff;
  top: 150px;
  left: 668px;
  z-index: 10;
}

.line4::after{
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 1463px;
  background-color: #fff;
  top: 150px;
  z-index: 0;
}

.line5 {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 1463px;
  background-color: #fff;
  top: 948px;
  z-index: 0;
}

.line6 {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 668px;
  background-color: #fff;
  top: 697px;
  z-index: 0;
}

.logoSeparator {
  width: 7px;
  height: 32px;
  border-radius: 50px;
  border: 1px solid #EFEFEF;
  background: #2A2445;
}

.whatsappHeaderButton {
  background: linear-gradient(271deg, rgba(0, 0, 0, 0.30) -6.32%, rgba(69, 0, 230, 0.09) 99.84%);
}

.whatsappHeaderButton:hover {
  transform: scale(110%);
  transition: .180s ease-in-out;
}

.triangule {
  position: absolute;
  top: 62%;
  right: 11%;
}

/* Botão de CTA */

.cta {
  width: 252px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #48515eb3;
  background: #000;
  color: #fff;
  font-size: 2.2em;
  font-weight: 400;
  line-height: normal;
  padding-inline: calc(.5em + 75px); 
  padding-block: 0; 
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
}

.cta:before,
.cta:after{
  content:"";
  position: absolute;
  inset: 0;
  border-radius: 6px;
  translate: calc(80px - 100%);
  transition: inherit;
}  

.cta:before {
  background: #7A40FF;
}
.cta:after{
  --r: calc(1lh/18);
  background: repeating-linear-gradient(90deg,#7d7d7d 0,#ddd,#7d7d7d 50%) right/200%;
  animation: b 1s linear infinite;
  padding: calc(4*var(--r)) calc(6*var(--r));
  clip-path: inset(0 0 0 calc(100% - 60px));
  /* I can optimize the mask with less gradients but I did a fast implementation */
  --m:/calc(50%/3) calc(2*var(--r)) repeat-x content-box
    radial-gradient(var(--r) at var(--r),#000 70%,#0000 82%);
  -webkit-mask:
    calc(3*var(--r)) calc(0*var(--r)) var(--m),
    calc(5*var(--r)) calc(0*var(--r)) var(--m),
    calc(5*var(--r)) calc(2*var(--r)) var(--m),
    calc(7*var(--r)) calc(2*var(--r)) var(--m),
    calc(7*var(--r)) calc(4*var(--r)) var(--m),
    calc(9*var(--r)) calc(4*var(--r)) var(--m),
    calc(7*var(--r)) calc(6*var(--r)) var(--m),
    calc(5*var(--r)) calc(6*var(--r)) var(--m),
    calc(5*var(--r)) calc(8*var(--r)) var(--m),
    calc(3*var(--r)) calc(8*var(--r)) var(--m);
}
@keyframes b {
  to{background-position: left}
}
.cta:hover {
  scale: 1.2;
}
.cta:hover:before,
.cta:hover:after{
  translate: 0;
  clip-path: inset(0);
}

/* Botão Whatsapp */

@property --angle {
  syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@property --glowColor {
  syntax: "<color>";
	initial-value: #58DD93;
}

@keyframes rotate {
  0% { --angle: 0deg; --glowColor: var(--color-green);}
  100% { --angle: 360deg; --glowColor: var(--color-green);}
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 136px;
  height: 73px;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  background: none;
  position: relative;
  padding: 1px;
  text-decoration: none;
  transition: all .18s ease-in-out;
  transform: translate3d(0,0,0);

  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: calc(100px + 1.5px);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: conic-gradient(
      from var(--angle) at 50% 50%, 
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) 33%,
      var(--glowColor) 50%,
      rgba(0,0,0,0) 66%,
      rgba(0,0,0,0) 100%);
    animation: rotate 2s infinite linear;
  }
  
  &:before {
    animation: rotate 2s infinite linear;
    filter: blur(20px);
  }

  .btnInner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--size-sm) var(--size-default);
    border-radius: 100px;
    color: var(--color-green);
    font-weight: 500;
    font-size: 22px;
    z-index: 1;
    transition: all .18s ease;
    background: rgba(#000,.3);
    backdrop-filter: blur(40px);
    backface-visibility: hidden;
  }
  

  hover {
    .btnInner  {
      background: rgba(var(--color-green),.1);
      color: lighten(var(--color-green),20%);  
    }
  }
  &:active {
    transform: scale(0.95);
  }
}

/* Box speech header */

.textBox {
  color: #FFF;
  font-family: Glancyr;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bubble {
    position: relative;
    background: #7A40FF;
    color: white;
    font-family: Glancy;
    font-size: 10px;
    width: 96px;
    height: 20px;
    border-radius: 35px;
    left: 88px;
    top: -8px;
}

.boxTextSvg {
  width: 9px;
  height: 8px;
}

.counter{
  color: #FFF;
  font-size: 196px;
  font-style: normal;
  font-weight: 100 !important;
  line-height: 18px; /* 9.184% */
}

.circleBlur1 {
  background: #6626FA;
  width: 876px;
  height: 883px;
  top: -500px;
  left: -600px;
  filter: blur(344px);  
  position: absolute;
}

.circleBlur2 {
  border-radius: 641px;
  background: rgba(102, 38, 250, 0.50);
  filter: blur(195.75px);
  width: 876px;
  height: 883px;
  top: 120px;
  left: -400px;
  filter: blur(344px);  
  position: absolute;
}

.circleBlur3 {
  border-radius: 883px;
  background: rgba(254, 86, 78, 0.40);
  filter: blur(344px);
  width: 876px;
  height: 883px;
  top: 800px;
  right: -40%;
  filter: blur(344px);  
  position: absolute;
}

.backgroundBlur {
  background: rgba(0, 0, 0, 0.431);
  backdrop-filter: blur(30px);
}

.objectIconServices1 {
  position: absolute;
  top: 10%;
  right: -15%;
  z-index: -10;
}

.objectIconServices2 {
  position: absolute;
  top: 22%;
  left: -20%;
  z-index: -10;
}
