@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-color: #050608,
        --primary-color: #7A40FF,
        --secondary-color: #240767,
        --accent-color: #FF554C,
        --text-color: #EEEDEF,
        --text-secondary-color: #6B6B6B,
        --gradient-color: #1B0354,
        --service-box-color: #0F0F0F,
    }
} 